* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Georgia";
    font-style: normal;
    font-weight: normal;
    src: url("../../assets/fonts/GeorgiaRegular.woff2") format(woff2);
}

@font-face {
    font-family: "Arial";
    font-style: normal;
    font-weight: normal;
    src: url("../../assets/fonts/ArialMT.woff2") format(woff2);
}

@font-face {
    font-family: "Arial";
    font-style: italic;
    font-weight: normal;
    src: url("../../assets/fonts/Arial-ItalicMT.woff2") format(woff2);
}

body {
    width: 100%;
}