.wrapper {
    width: 100%;
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}
.wrapper__hed {
    border-top: 1px solid transparent;
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    margin-top: 60px;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.header__logo {
    height: 60px;
    width: 184px;
}
.header__logo h2 {
    font-family: "Georgia";
    font-size: 32px;
    line-height: 35px;
    text-align: left;
    color: #F1CDB3;
    font-weight: normal;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}
.header__logo p {
    font-family: "Arial", sans-serif;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 1.1px;
}
.header__nav {
    width: 443px;
    margin-top: 16px;
}
.header__nav ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.header__nav a {
    text-decoration: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    padding-bottom: 4px;
}
.activ a {
    border-bottom: 2px solid #F1CDB3;
    color: #FAFAFA;
}
.header__nav a:hover {
    color: #FAFAFA;
}
.menu_btn {
    width: 30px;
    height: 22px;
    border: none;
    background-color: transparent;
    padding: 5px 0;
    cursor: pointer;
    position: relative;
    display: none;
    margin-top: 19px;
}
.menu_btn span {
    display: block;
    height: 2px;
}
.menu_btn1 span {
    background-color: rgba(241, 205, 179, 1);
}
.menu_btn2 span {
    background-color: #000000;
}
.menu_btn::after {
    bottom: 0;
}
.menu_btn::before {
    top: 0;
}
.menu_btn::before,
.menu_btn::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
}
.menu_btn1::before,
.menu_btn1::after {
    background-color: rgba(241, 205, 179, 1);
}
.menu_btn2::before,
.menu_btn2::after {
    background-color: #000000;
}

/***********************NOT ONLY********************/
.notOnly {
    width: 100%;
    display: flex;
}
.notOnly__title {
    display: block;
    padding-top: 137px;
    width: 38.3%;
    margin-right: 3.5%;
    
}
.notOnly__title h1 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 38px;
    margin-right: 32.6%;
}
.notOnly__title p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    margin-bottom: 42px;
}
.notOnly__img {
    width: 58.2%;
}
.notOnly__img img {
    margin-bottom: -5px;
    max-width: 100%;
}
.notOnly__img img:last-child,
.notOnly__img img:first-child {
    display: none;
}
.notOnly__btn {
    padding: 15px 0;
    width: 207px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    border: 1px solid #F1CDB3;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    text-decoration: none;
}
.notOnly__btn:hover {
    background: #FDDCC4;
    border: 1px solid #FDDCC4;
    cursor: pointer;
}

/************ADAPTIVE*************************/
@media screen and (max-width: 1200px) {
    .header {
        width: calc(100% - 60px);
        margin: 60px auto;
    }
    .notOnly {
        width: 100%;
        padding-left: 23px;
        padding-right: 0;
    }
    .notOnly__btn {
        margin-bottom: 150px;
    }
    .notOnly__title {
        padding-top: 47px;
    }
}

@media screen and (max-width: 1062px) {
    .header {
        margin: 30px 30px 60px;
    }
    .notOnly__btn {
        margin-bottom: 70px;
    }
    .notOnly__title {
        padding-top: 30px;
    }
}

@media screen and (max-width: 985px) {
    .notOnly {
        flex-direction: column;
        padding-top: 0;
        margin: 0;
    }
    .notOnly__btn {
        margin: 0 0 100px 27%;
    }
    .notOnly__title {
        padding-top: 0;
        margin-left: 20%;
        width: 60%;
        margin-right: 0;
    }
    .notOnly__img {
        height: 58%;
        margin-left: 22%;
        width: 74%;
    }
    .notOnly__img img {
        width: 100%;
    }
    .header {
        margin-top: 30px;
    }
    .notOnly__title h1 {
        margin-top: 0;
        margin-bottom: 42px;
        width: 74%;
        margin-right: 0;
    }
}

@media screen and (max-width: 768px) {
    .notOnly__title h1 {
        margin-top: 0;
        margin-bottom: 42px;
        width: 83%;
        margin-right: 0;
    }
    .notOnly__title {
        width: 65%;
        margin-left: 18%;
    }
    .notOnly__img {
        margin-left: 19.9%;
        width: 78%;
    }
    .notOnly__img img:last-child {
        display: block;
        margin-bottom: 0;
        width: 100%;
    }
    .notOnly__img img:nth-child(2) {
        display: none;
    }
    .header__nav ul {
        margin-left: 17px;
    }
    .notOnly__btn {
        margin-bottom: 100px;
    }
    .notOnly__title p {
        margin-bottom: 39px;
    }
}

@media screen and (max-width: 720px) {
    .header__nav {
        display: none;
    }
    .menu_btn {
        display: inline-block;
    }
}

@media screen and (max-width: 600px) {
    .notOnly {
        padding: 0;
    }
    .notOnly__title {
        width: 300px;
        margin: 0 auto 105px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .notOnly__title h1 {
        font-size: 35px;
        text-align: center;
        margin: 0 auto 42px;
    }
    .notOnly__title p {
        margin: 0 auto 42px;
        text-align: center;
    }
    .notOnly__btn {
        margin: 0 auto;
    }
}

@media screen and (max-width: 350px) {
    .header {
        margin-top: 30px;
        margin-left: 10px;
        width: 257px;
        margin-bottom: 60px;
    }
    .notOnly__title h1 {
        font-size: 25px;
        width: 200px;
        letter-spacing: 0.06em;
    }
    .notOnly__img img:first-child {
        display: block;
        margin-bottom: 0;
        width: 100%;
    }
    .notOnly__img img:nth-child(3) {
        display: none;
    }
    .notOnly__img {
        width: 250px;
        margin-left: 45px;
    }
}