.wrapper_2_1 {
    width: 100%;
    background: #FFFFFF;
    position: fixed;
}

.wrapper__hed2 {
    border-top: 1px solid transparent;
    max-width: 1200px;
    margin: 0 auto;
    height: 120px;
}

.header2 {
    margin-top: 30px;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header__logo2 {
    height: 60px;
    width: 186px;
}

.header__logo2 a {
    text-decoration: none;
}

.header__logo2 h1 {
    margin-top: 0 !important;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: left;
    margin-bottom: 10px;
}

.header__logo2 p {
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #292929;
    text-align: center;
}

.header__nav2 {
    width: 443px;
    margin-top: 16px;
}

.header__nav2 ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header__nav2 a {
    text-decoration: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #545454;
    padding-bottom: 4px;
}

.header__nav2 .activ a {
    border-bottom: 2px solid #F1CDB3;
    color: #545454;
}

.header__nav2 a:hover {
    color: #292929;
    cursor: pointer;
}

/************ADAPTIVE*************************/
@media screen and (max-width: 1200px) {
    .header2 {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 30px;
        width: calc(100% - 40px);
    }
}

@media screen and (max-width: 768px) {
    .header__logo2 {
        width: 195px;
    }

    .header__nav2 {
        margin-left: 69px;
        justify-content: space-between;
    }
}

@media screen and (max-width: 740px) {
    .header__logo2 {
        width: 195px;
    }

    .header__nav2 {
        margin-left: 20px;
        justify-content: space-between;
    }
}

@media screen and (max-width: 720px) {
    .header__nav2 {
        display: none;
    }

    .menu_btn {
        display: inline-block;
    }
}

@media screen and (max-width: 350px) {
    .wrapper__hed2 {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .header2 {
        margin-top: 30px;
        margin-left: 10px;
        width: 260px;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
    }
}