/*************Help*******************/
.wrapperBlock4 {
    width: 100%;
    background: #FFFFFF;
}

.howHelp {
    max-width: 1200px;
    min-height: 611px;
    padding-top: 80px;
    text-align: center;
    margin: 0 auto;
}

.iconBloc__containerBig {
    margin: 60px auto 100px auto;
    max-width: 1026px;
}

.iconBloc__container {
    margin: 0 -60px;
    width: 1150px;
    min-height: 281px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    list-style: none;
    justify-content: center;
}

.iconBloc__card {
    height: 113px;
    text-align: center;
    color: #545454;
    margin: 0 60px;
}

.iconBloc__card h5 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-top: 25px;
    letter-spacing: 0.05em;
}

.card_1 {
    width: 84px;
}

.card_2 {
    width: 150px;
}

.card_3 {
    width: 60px;
}

.card_4 {
    width: 155px;
}

.card_5 {
    width: 101px;
}

.card_6 {
    width: 89px;
}

.card_7 {
    width: 101px;
}

.card_8 {
    width: 167px;
}

.card_9 {
    width: 145px;
}

/************ADAPTIVE*************************/
@media screen and (max-width: 1100px) {
    .iconBloc__card {
        margin: 0 auto 30px;
    }

    .iconBloc__container {
        width: 90%;
        margin: 0 auto;
        justify-content: space-evenly;
        gap: 30px;
    }
}

@media screen and (max-width: 768px) {
    .howHelp {
        padding-top: 82px;
    }

    .howHelp h3 {
        margin-left: 3%;
        margin-bottom: 0;
    }

    .iconBloc__card {
        width: 170px;
        margin: 0;
    }

    .iconBloc__container {
        gap: 56px;
    }

    .iconBloc__containerBig {
        margin-top: 55px;
    }
}

@media screen and (max-width: 320px) {
    .iconBloc__containerBig {
        width: 100%;
        margin: 42px auto;
        padding: 0;
        gap: 0;
    }

    .howHelp {
        padding: 45px 12px 0;
        text-align: center;
    }

    .howHelp h3 {
        font-size: 25px;
        margin: 0 auto;
    }

    .iconBloc__card {
        width: 128px;
        height: 87px;
        margin: 0;
    }

    .iconBloc__card img {
        width: 50px;
        height: 50px;
        margin-bottom: 0;
    }

    .iconBloc__card h5 {
        font-size: 15px;
        line-height: 15px;
        margin-top: 15px;
    }

    .iconBloc__container {
        width: 100%;
        margin: 0 0;
        padding: 0 0;
        gap: 30px;
        justify-content: space-between;
    }
}