/*****************Footer*****************/
.wrapperBlock6 {
    width: 100%;
    background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}

.footer {
    max-width: 1200px;
    min-height: 350px;
    max-height: 1000px;
    padding-top: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.forQuestions {
    width: 23.3%;
    max-height: 234px;
    margin-top: 16px;
    display: block;
}

.forQuestions h3,
.forVisist h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.forQuestions__email {
    margin-top: 43px;
    margin-bottom: 37px;
}

.forQuestions__email,
.forQuestions__mobile,
.forVisit__location0,
.forVisit__location2 {
    display: flex;
}

.forQuestions__email a,
.forQuestions__mobile a,
.forVisit__location0 a,
.forVisit__location2 a {
    margin-right: 20px;
    text-decoration: none;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.forVisist {
    width: 27%;
    max-height: 234px;
    margin-top: 16px;
    display: block;
    padding-left: 9px;
}

.forVisit__location0 {
    margin-top: 34px;
    margin-bottom: 35px;
}

.forVisist h3 {
    width: 89.4%;
}

.forVisist .forVisit__location1 img {
    max-width: 100%;
}

.forQuestions__mobile img,
.forVisit__location2 img {
    margin-top: -5px;
}

/************ADAPTIVE*************************/
@media screen and (max-width: 1200px) {

    .footer {
        padding-top: 10px;
        padding-left: 30px;
        flex-wrap: wrap;
        gap: 60px;
        justify-content: center;
    }

    .forQuestions {
        width: 280px;

    }

    .forVisist {
        width: 325px;
    }
}

@media screen and (max-width: 360px) {
    .footer {
        width: 100%;
        padding: 27px 10px 0;
        margin: 0 auto;
        gap: 0;
    }

    .forVisist,
    .forQuestions {
        width: 100%;
        margin: 0 auto 35px;
        padding: 0;
    }

    .forVisist h3,
    .forQuestions h3 {
        font-size: 25px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.06em;
        margin: 0 auto;
    }

    .forQuestions__email {
        width: 251px;
        justify-content: space-between;
        align-items: center;
        margin: 40px auto 37px;
    }

    .forQuestions__mobile {
        width: 239px;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    .forQuestions__mobile a:last-child,
    .forVisit__location0 a:last-child,
    .forVisit__location2 a:last-child,
    .forQuestions__email a:last-child {
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        margin: 0;
    }

    .forQuestions__mobile a,
    .forQuestions__email a,
    .forVisit__location0 a,
    .forVisit__location2 a {
        margin-right: 0;
        margin-left: 0;
    }

    .forVisit__location0,
    .forVisit__location2 {
        width: 100%;
        padding: 0;
        margin: 38px auto;
        align-items: center;
    }

    .forVisit__location2 {
        margin-top: 40px;
        align-items: center;
    }

    .footer_img {
        width: 260px;
        height: 269px;
        margin: 0 auto;
    }

    .forVisit__location0 a:nth-child(1),
    .forVisit__location2 a:nth-child(1) {
        margin-right: 19.87px;
    }

    .forVisist {
        margin-bottom: 27px;
    }

    .forVisist2 {
        margin-top: 5px;
    }
}