/**************OUR FRIENDS***********/
.wrapperBlock3 {
    width: 100%;
    background: #F6F6F6;
}

.ourFriends {
    max-width: 1200px;
    padding: 80px 0 100px 0;
    text-align: center;
    margin: 0 auto;
}

.ourFriends h3,
.howHelp h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}

.ourFriends__cardsContainer {
    width: 100%;
    margin: 60px 0;
    height: 435px;
    display: flex;
}

.ourFriends__arrow {
    width: 8.75%;
    display: flex;
    align-items: center;
}

.ourFriends__arrow_left,
.ourFriends__arrow_right {
    box-sizing: border-box;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid #F1CDB3;
    padding-top: 15px;
}

.ourFriends__arrow_left:hover,
.ourFriends__arrow_right:hover {
    cursor: pointer;
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.ourFriends__arrow .ourFriends__arrow_right {
    margin-left: auto;
    margin-right: 0;
}

.ourFriends__cardsContainer_block {
    width: 82.9%;
    box-sizing: border-box;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.ourFriends__card_one {
    width: 22.5%;
    display: block;
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
}

.ourFriends__card_one img {
    max-width: 100%;
    border-radius: 9px 9px 0px 0px;
    height: 270px;
    width: 270px;
}

.ourFriends__card_one h6 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 25px auto 30px;
}

.ourFriends__card_btn {
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    width: 69.25%;
    height: 52px;
    transition: all;
    background: transparent;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    text-decoration: none;
    cursor: pointer;
}

.ourFriends__card_one:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    cursor: pointer;
    background: #FFFFFF;
}

.ourFriends__card_one:hover .ourFriends__card_btn {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
    cursor: pointer;
}

.ourFriends__card_btn:hover {
    cursor: pointer;
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
    cursor: pointer;
}

.ourFriends___btn_big {
    width: 261px;
    height: 52px;
    margin: 0 auto;
    background: #F1CDB3;
    border-radius: 100px;
    border: 1px solid #F1CDB3;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    text-decoration: none;
}

.ourFriends___btn_big:hover {
    background: #FDDCC4;
    cursor: pointer;
    border: 1px solid #FDDCC4;
}

/************ADAPTIVE*************************/
@media screen and (max-width: 1100px) {

    .ourFriends {
        padding: 80px 0 100px 30px;
    }
}

@media screen and (max-width: 1000px) {

    .ourFriends__cardsContainer_block {
        justify-content: space-between;
    }

    .hidden_card {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .ourFriends h3 {
        margin-left: -12px;
    }

    .ourFriends__cardsContainer {
        width: calc(100% - 15px);

    }
}

@media screen and (max-width: 768px) {
    .ourFriends__cardsContainer {
        margin-top: 60px;
    }

    .ourFriends___btn_big {
        margin-left: -2%;
    }

}

@media screen and (max-width: 720px) {
    .hidden_card320 {
        display: none;
    }

    .ourFriends__cardsContainer_block {
        justify-content: center;
    }

    .ourFriends__arrow {
        width: 95px;
    }

}

@media screen and (max-width: 500px) {
    .ourFriends__cardsContainer {
        flex-wrap: wrap;
        justify-content: center;
    }

    .ourFriends__cardsContainer_block {
        order: -1;
        width: 100%;
    }

    .ourFriends h3 {
        font-size: 30px;
    }

    .ourFriends__arrow {
        margin-top: 22px;
    }

    .ourFriends___btn_big {
        margin-top: 55px;
    }
}

@media screen and (max-width: 320px) {
    .ourFriends h3 {
        font-size: 25px;
        line-height: 130%;
        letter-spacing: 0.05em;
        margin: 0 auto;
    }

    .ourFriends {
        margin: 0;
        padding: 40px 10px;
        text-align: center;
    }

    .ourFriends__cardsContainer {
        margin-top: 40px;
        margin-left: 5px;
    }
}