* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/GeorgiaRegular.woff2") format(woff2);
}

@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/ArialMT.woff2") format(woff2);
}

@font-face {
  font-family: "Arial";
  font-style: italic;
  font-weight: normal;
  src: url("../assets/fonts/Arial-ItalicMT.woff2") format(woff2);
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

/* Color styles */
._wrapper {
  max-width: 1200px;
  margin: 0 auto;
}


.btn-fill {
  background-color: #f1cdb3;
  border-radius: 100px;
  color: #292929;
  font-size: 17px;
  font-family: "Georgia";
  font-weight: normal;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-decoration: none;
  padding: 15px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s ease;
}

.btn-fill:hover {
  background-color: #fddcc4;
  cursor: pointer;
}

.btn-border {
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  color: #292929;
  font-size: 17px;
  font-family: "Georgia";
  font-weight: normal;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-decoration: none;
  padding: 13px 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.btn-border:hover {
  border: 2px solid #fddcc4;
  background-color: #fddcc4;
  cursor: pointer;
}

.btn-round {
  border: 2px solid #f1cdb3;
  border-radius: 50%;
  height: 52px;
  width: 52px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Georgia";
  font-weight: normal;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: #292929;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.btn-round:hover {
  border: 2px solid #fddcc4;
  background-color: #fddcc4;
  cursor: pointer;
}

.btn-round_active {
  background-color: #f1cdb3;
  border: 2px solid #f1cdb3;
  border-radius: 50%;
  height: 52px;
  width: 52px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Georgia";
  font-weight: normal;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: #292929;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.btn-round_disabled {
  border: 2px solid #cdcdcd;
  border-radius: 50%;
  height: 52px;
  width: 52px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Georgia";
  font-weight: normal;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: #cdcdcd;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease 0s;
}

.header__fix {
  position: fixed;
  background-color: #ffffff;
  z-index: 50;
  width: 100%;
}

.header__abs {
  position: absolute;
  top: 30px;
  z-index: 50;
  width: 100%;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__burger {
  display: none;
  align-self: right;
  margin-right: 43px;
}

.logo-light__title {
  color: #f1cdb3;
  font-size: 32px;
  font-family: "Georgia";
  font-weight: normal;
  font-style: normal;
  line-height: 35.2px;
  letter-spacing: 0.06em;
  text-decoration: none;
  text-align: center;
}

.logo-light__subtitle {
  color: #ffffff;
  font-size: 13px;
  font-family: "Arial";
  font-weight: normal;
  font-style: normal;
  line-height: 14.95px;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-align: center;
  margin-top: 9.85px;
}

.logo-light__link {
  text-decoration: none;
}

.logo-dark__title {
  color: #545454;
  font-size: 32px;
  font-family: "Georgia";
  font-weight: normal;
  font-style: normal;
  line-height: 35.2px;
  letter-spacing: 0.06em;
  text-decoration: none;
  text-align: center;
}

.logo-dark__subtitle {
  color: #292929;
  font-size: 13px;
  font-family: "Arial";
  font-weight: normal;
  font-style: normal;
  line-height: 14.95px;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-align: center;
  margin-top: 9.85px;
}

.logo-dark__link {
  text-decoration: none;
}

.menu__link_light,
.menu__link_dark,
.menu__link_light-active,
.menu__link_dark-active {
  font-size: 15px;
  font-family: "Arial";
  font-weight: normal;
  font-style: normal;
  line-height: 160%;
  text-decoration: none;
}

.menu__link_light-active::after,
.menu__link_dark-active::after {
  content: "";
  background-color: #f1cdb3;
  height: 3px;
  width: 100%;
  display: flex;
}

.menu__list li:not(:last-child) {
  margin-right: 36px;
}

.menu__logo {
  position: fixed;
  top: 30px;
  left: calc(100% + 10px);
  z-index: 10;

  transition: all 1s ease;
  white-space: nowrap;
  display: none;
}

.menu__logo_open {
  left: calc(100% - 310px);
}

.menu__list {
  display: flex;
  justify-content: flex-end;
}

.menu__link_light {
  color: #cdcdcd;
  transition: all 1s ease 0s;
}

.menu__link_light:hover {
  color: #fafafa;
}

.menu__link_dark {
  color: #545454;
  transition: all 1s ease 0s;
}

.menu__link_dark:hover {
  color: #292929;
}

.menu__link_light-active {
  color: #fafafa;
}

.menu__link_dark-active {
  color: #292929;
}


.card__content {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  background-color: #fafafa;
  transition: all 0.5s ease 0s;
}

.card__content:hover {
  cursor: pointer;
  background-color: #ffffff;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

  transition: all 1s ease;
}

.card__content:hover a {
  border: 2px solid #fddcc4;
  background-color: #fddcc4;
}

.card__btn {
  margin-bottom: 30px;
}

.card__img {
  margin-bottom: 30px;
}

.card__title {
  margin-bottom: 30px;
  color: #545454;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
}

.footer {
  background: radial-gradient(circle farthest-corner at 0px 0px, #5B483A 0%, #262425 60%);
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 40px;
}

.footer__contacts {
  margin: 16px 159px 0px 0;
  flex: 0 1 279px;
}

.footer__address {
  margin: 16px 160px 0px 0;
  flex: 0 0 302px;
}

.footer__img {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.contacts__title {
  font-size: 35px;
  font-family: "Georgia";
  font-weight: normal;
  font-style: normal;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: #ffffff;
}

.contacts__content {
  text-decoration: none;
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.contacts__content p {
  font-size: 20px;
  font-family: "Georgia";
  font-weight: normal;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: #f1cdb3;
  margin-left: 20px;
}

.contacts__email-icon {
  flex: 0 0 auto;
}

.contacts__phone-icon {
  flex: 0 0 auto;
}

.address__title {
  font-size: 35px;
  font-family: "Georgia";
  font-weight: normal;
  font-style: normal;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: #ffffff;
}

.address__content {
  text-decoration: none;
  text-align: start;
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.address__content p {
  font-size: 20px;
  font-family: "Georgia";
  font-weight: normal;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: #f1cdb3;
  margin-left: 20px;
}

.address__icon {
  flex: 0 0 auto;
}

.pagination {
  background-color: #f6f6f6;
}

.pagination__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 0px 100px;
}

.pagination__title {
  font-size: 35px;
  font-family: "Georgia";
  font-weight: normal;
  font-style: normal;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: #545454;
  text-align: center;
  width: 100%;
}

.pagination__cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 45px 0px;
  height: 1000px;
  width: 100%;
  align-self: flex-start;
  overflow: hidden;
}

.pagination__btns {
  display: flex;
}

.pagination__btns>* {
  margin: 0px 10px;
}



.burger__content_dark::before,
.burger__content_dark::after,
.burger__line_dark {
  content: "";
  border: 1px solid #000000;
  background: #000000;
}

.burger__content_dark {
  width: 30px;
  height: 30px;
  padding: 4px 0;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  cursor: pointer;
  z-index: 10;

  transition: all 1s ease;
}

.burger {
  transition: all 1s ease;
  z-index: 101;
}

.burger_open {
  transform: rotate(90deg);
}

.menu__link_light,
.menu__link_dark,
.menu__link_light-active,
.menu__link_dark-active {
  font-size: 15px;
  font-family: "Arial";
  font-weight: normal;
  font-style: normal;
  line-height: 160%;
  text-decoration: none;
}

@media (max-width: 767px) {}

.menu__link_light-active::after,
.menu__link_dark-active::after {
  content: "";
  background-color: #f1cdb3;
  height: 3px;
  width: 100%;
  display: flex;
}

/************************************************************************/


@media (max-width: 1279px) {
  .footer__content {
    padding-top: 30px;
    width: 708px;
  }
}

@media (max-width: 767px) {
  .footer__content {
    width: 300px;
  }
}

@media (max-width: 1279px) {
  .footer__contacts {
    margin: 0 60px 65px 0;
    flex: 0 1 279px;
  }
}

@media (max-width: 767px) {
  .footer__contacts {
    margin: 0 0 40px 0;
    text-align: center;
  }
}

@media (max-width: 1279px) {
  .footer__address {
    margin: 0 0 65px 0;
    flex: 0 1 302px;
  }
}

@media (max-width: 767px) {
  .footer__address {
    margin: 0 0 40px 0;
    text-align: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 300px;
    flex: 0 0 300px;
  }
}

@media (max-width: 767px) {
  .footer__img {
    padding: 0 20px 0;
  }
}

@media (max-width: 767px) {
  .contacts__title {
    font-size: 25px;
    font-family: "Georgia";
    font-weight: normal;
    font-style: normal;
    line-height: 32px;
    letter-spacing: 0.06em;
    text-decoration: none;
  }
}

@media (max-width: 767px) {
  .contacts__content {
    margin-top: 40px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .address__title {
    font-size: 25px;
    font-family: "Georgia";
    font-weight: normal;
    font-style: normal;
    line-height: 32px;
    letter-spacing: 0.06em;
    text-decoration: none;
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .address__content {
    margin-top: 40px;
  }

  .address__content p {
    margin-left: 18px;
  }
}



@media (max-width: 1279px) {
  .pagination__content {
    padding: 200px 0px 76px;
  }
}

@media (max-width: 767px) {
  .pagination__content {
    padding: 162px 0px 42px;
  }
}



@media (max-width: 767px) {
  .pagination__title {
    font-size: 25px;
    font-family: "Georgia";
    font-weight: normal;
    font-style: normal;
    line-height: 32px;
    letter-spacing: 0.06em;
    text-decoration: none;
  }
}


@media (max-width: 1279px) {
  .pagination__cards {
    margin: 15px 0 25px;
    height: 1500px;
    max-width: calc(620/708 * 100%);
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

@media (max-width: 767px) {
  .pagination__cards {
    margin: 27px 0px 27px;
  }
}



@media (max-width: 767px) {
  .pagination__btns {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 300px;
  }

  .pagination__btns>* {
    margin: 0px;
  }
}

.pagination__card {
  margin: 15px calc((100% - 4*270px)/3) 15px 0;
  position: relative;
  left: 0;
}

.pagination__card_moved-to-next {
  left: calc(-100% - calc((100% - 4*270px)/3));
}

@media (max-width: 1279px) {
  .pagination__card {
    margin: 15px calc((100% - 2*270px)/4);
  }

  .pagination__card_moved-to-next {
    left: -100%;
  }
}

@media (max-width: 767px) {

  .menu__link_light,
  .menu__link_dark,
  .menu__link_light-active,
  .menu__link_dark-active {
    font-size: 32px;
    font-family: "Arial";
    font-weight: normal;
    font-style: normal;
    line-height: 160%;
    text-decoration: none;
  }

  .pagination__card {
    margin: 15px calc((100% - 270px)/2);
  }

  .pagination__card_moved-to-next {
    left: -100%;
  }
}

.burger__content_light::before,
.burger__content_light::after,
.burger__line_light {
  content: "";
  border: 1px solid #f1cdb3;
  background: #f1cdb3;
}

.burger__content_dark::before,
.burger__content_dark::after,
.burger__line_dark {
  content: "";
  border: 1px solid #000000;
  background: #000000;
}

.burger__content_light {
  width: 30px;
  height: 30px;
  padding: 4px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 10;
  transition: all 1s ease;
}

.burger {
  transition: all 0.5s ease 0s;
  z-index: 101;
}

.burger_open {
  transform: rotate(90deg);
}

.body__no-scroll {
  overflow: hidden;
}



@media (max-width: 1279px) {
  ._wrapper {
    max-width: calc(100% - 60px);
  }

  .header__abs {
    top: 0px;
    left: 0;
  }

  .card__disable_tablet {
    display: none;
  }
}


@media (max-width: 767px) {

  .card__disable_mobile {
    display: none;
  }

  .pets__title {
    font-size: 25px;
    font-family: "Georgia";
    font-weight: normal;
    font-style: normal;
    line-height: 32px;
    letter-spacing: 0.06em;
    text-decoration: none;
  }

  .pets__content {
    padding: 42px 0;
  }

  ._wrapper {
    max-width: calc(100% - 20px);
  }

  .header__menu_transp {
    position: fixed;
  }

  .header__menu_light {
    position: fixed;
  }

  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu__link_light,
  .menu__link_light-active {
    font-size: 32px;
    font-family: "Arial";
    font-weight: normal;
    font-style: normal;
    line-height: 160%;
    text-decoration: none;
  }

  .menu__list li:not(:last-child) {
    margin: 20px 0px;
  }

  .menu__back_light {
    background: #ffffff;
  }

  .menu__back_dark {
    background: #292929;
  }

  .menu__logo {

    display: flex;
  }

  .menu__list {
    position: fixed;
    top: 0;
    right: -320px;
    height: 100%;
    min-width: 320px;
    min-height: 550px;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
    padding-top: 150px;
  }

  .menu__list_open {
    right: 0px;
  }

  .menu__overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 51;
    background: rgba(41, 41, 41, 0.6);
    transition: all 1s ease;
    left: 100%;
  }

  .menu__overlay_open {
    left: 0;
  }

  .not-only__text {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin: 30px 0 105px 0;
  }

}

/*************************/
/*******MODAL************/
/*************MODAL >1280 *****************/
.modal_block768 {
  width: 100vw;
  height: 100vh;
  transition: .3s;
  left: 0;
  bottom: 0;
  right: 0;
  padding-left: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(41, 41, 41, 0.6);
  z-index: 1000;
  position: fixed;
  top: 0;
  opacity: 1;
  display: flex;
}

.modal_block_parent {
  position: relative;
  width: 952px;
  height: 552px;
  display: block;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

}

.btn_modal {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  margin-left: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
}

.btn_modal:hover {
  background: #FDDCC4;
  cursor: pointer;
}


.modal_card {
  width: 900px;
  height: 500px;
  display: flex;
  background: #FAFAFA;
  border-radius: 9px;
}

.modal_img {
  width: 500px;
  height: 500px;
}

.modal_block_tille {
  width: 400px;
  height: 500px;
  padding: 50px 20px 88px 29px;
}

.modal_img img {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 100%;
}

.modal_block_tille h3 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #000000;
  margin-bottom: 10px;
  text-align: center;
}

.modal_block_tille h4 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #000000;

}

.modal_block_tille p {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
  margin: 40px auto;
}

.modal_list {
  padding: 0;
  margin-left: 14px;
  color: #F1CDB3;
}

.modal_list_item {
  color: #F1CDB3;
  list-style: disc;
}

.modal_list span {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  color: #000000;
}

/*********************ADAPTIVE*************   <1280  *****************************************/
@media (max-width: 1279px) {

  /*************MODAL 768*****************/
  .modal_block_parent {
    width: 682px;
    height: 402px;
  }

  .btn_modal {
    margin-left: 630px;
  }

  .modal_card {
    width: 630px;
    height: 350px;
  }

  .modal_img {
    width: 350px;
    height: 350px;
  }

  .modal_block_tille {
    width: 400px;
    height: 280px;
    padding: 10px 9px 37px 11px;
  }

  .modal_block_tille p {
    font-size: 13px;
    margin: 20px auto;
  }

  .modal_list {
    margin-left: 10px;
    padding-left: 5px;
  }

}

/******************/
/***********************   < 768  ****************************/
@media (max-width: 767px) {
  .modal_block768 {
    padding-left: 31px;
  }

  .modal_block_parent {
    width: 271px;
    min-height: 393px;
  }

  .btn_modal {
    margin-left: 218px;
  }

  .modal_card {
    width: 240px;
    min-height: 341px;
  }

  .modal_img {
    display: none;
  }

  .modal_block_tille {
    width: 100%;
    height: 100%;
    padding: 10px;
  }

  .modal_block_tille h4 {
    text-align: center;
  }

  .modal_block_tille p {
    text-align: justify;
    font-size: 13px;
    margin: 20px auto 24px;
  }

  .modal_list {
    padding: 0;
    margin-left: 14px;
  }

}